<h1 class = "text-center mt-5">New item</h1>
<% @u = session[:id]%>
<div class ="container text-center">
  <%= render "form", item: @item %>
</div>

<br>
<% if session[:status] == "item" %>
  <% url = items_path%>
<%else%>
  <% url = main_user_item_path%>
<%end%>
<div class = "text-center">
  <%= link_to "Back to items", url %>
</div>
